@use '../abstracts' as *;

.BigBlocks {
  overflow-x: hidden;
  @include md {
    width: 80%;
  }
}

.BigBlocks__img {
  width: 100%;
  aspect-ratio: 1/1;
}

.BigBlocks__img-container {
  width: 100%;
  @include md {
    width: 50%;
  }
}

.BigBlocks__text-container {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  overflow: hidden;
  @include md {
    width: 50%;
  }
}
.BigBlocks__text {
  font-family: $base-text;
  font-size: 1.5rem;
  width: 80%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  aspect-ratio: 1/1;
  @include flex-center;
}

.BigBlocks__flex-container {
  &:last-child {
    flex-direction: row-reverse;
  }
  @include md {
    display: flex;
  }
}
