@use '../abstracts' as *;

.BigBlocks {
    margin: 5rem 0;

    .BigBlocks__img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .BigBlocks__text-container {
        padding: 2rem;
    }


    .BigBlocks__text {
        font-family: $base-text;
        font-size: 2rem;
        width: 100%;
        aspect-ratio: 1/1;
        @include flex-center;
    }



}