@use '../abstracts' as *;

.MediaQuotes__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

h2 {
	margin-bottom: 1rem;
	font-family: $base-text;
	text-align: center;
}
