@use '../abstracts' as *;

.Org {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
	height: auto;
	aspect-ratio: 1/1;
	@include md {
		margin: 0 100px;
	}
	img {
		max-width: 100px;
	}
}
