
@use "../abstracts" as *;

.OrgList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: $base-text;
  margin: 5rem 0;
  p {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}