@use '../abstracts' as *;

.ShopAround {
    margin: 5rem 0;

    h2 {
        font-family: $base-text;
        text-align: center;
        margin-bottom: 1em;
    }

    .ShopAround__container {
        display: flex;

        // all children should be a tags
        & > a {
            flex: 1;
        }
    }


}